<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<header>
  <div class="topnav">
 <a class="active" href="./inicio">Inicio</a>
 <a href="./registroCurso">registroCurso</a>
 <a href="./verCursos">verCursos</a>
 <a href="./inscribir">registrar usuarios</a>
 <a href="./inscribirCursos">inscribircursos</a>
 <a href="./verInscritos">ver inscritos</a>
 <a href="./inscribirCursosUser">registrar usuario a curso</a>
 {{#if session}}
 <form action="/salir" method="get">
   {{nombre}}
   <button>Salir</button>
 </form>
 {{else}}
 <form action="/ingresar" method="post">
   <input type="number" name="documento" placeholder="Ingrese su documento">
   <input type="password" name="contrasena" placeholder="ingrese su contraseña">
   <button>subir</button>
 </form>
 {{/if}}
</div>

</header>
