<html>
<h1> hola bb {{nota1}}
  <p> Registro de usarios</p>
  <form action="/calculos" method="post">
    <input type="number" name="documento" placeholder="Ingrese su documento">
    <input type="text" name="nombre" placeholder="ingrese su nombre">
    <input type="email" name="correo" placeholder="ingrese su email">
    <input type="number" name="telefono" placeholder="ingrese su telefono">
    <button>subir</button>
  </form>
</h1>
<div><p>Lista de cursos para coordinador</p> {{{mostrar}}}</div>

<div> <p>Lista de cursos para aspirantes</p> {{{mostrarAspi}}}</div>
 {{>footer}}
