{{>header}}

<div><p>Ingrese su id para ver sus cursos matriculados</p></div>
<form method="post" action="verInscritos">
  <input type="number" name="id" placeholder="Inserte ID aqui">
  <button>enviar</button>
</form>

 {{>footer}}
